body {
	background-color: #D3D3D3;
	color: #222;
}

h1 {
	text-align: center;
	font-family: "Bell MT";
}
h2 {
	font-family: all;
}
h3 {
	font-family: "Bell MT";
}

div.page {
	width: 100%;
}
div.page_left {
	width: 19.5%;
	float: left;
	background-color: #F3F3F3;
	border-left: 3px solid rgba(0, 0, 0, 0.75);
	border-radius: 5px;
	font-family: all;
}
div.page_right {
	width: 79.5%;
	float: right;
	background-color: #F3F3F3;
	border-left: 3px solid rgba(0, 0, 0, 0.75);
	border-radius: 5px;
	font-family: all;
}
div.page_foot {
	width: 79.5%;
	float: right;
	font-family: all;
}
div.page_sources {
	background-color: #F3F3F3;
	border-top: 2px solid rgba(0, 0, 0, 0.75);
	border-left: 3px solid rgba(0, 0, 0, 0.75);
	border-radius: 5px;
	font-family: "Bell MT";
}
div.page_sources_left {
	width: 49.5%;
	float: left;
	background-color: #F3F3F3;
	border-left: 3px solid rgba(0, 0, 0, 0.75);
	border-radius: 5px;
	font-family: all;
}
div.page_sources_right {
	width: 49.5%;
	float: right;
	background-color: #F3F3F3;
	border-left: 3px solid rgba(0, 0, 0, 0.75);
	border-radius: 5px;
	font-family: all;
}
div.page_sources_foot_right {
	width: 49.8%;
	float: left;
	font-family: all;
	text-align: right;
}
div.page_sources_foot_left {
	width: 49.8%;
	float: right;
	font-family: all;
	text-align: left;
}
div.sousDiv {
	border-top: 2px solid rgba(0, 0, 0, 0.75);
	border-radius: 5px;
}

p.paragraphe {
	border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.bouton {
	border-radius: 4px;
	background-color: #e7e7e7;
	color: black;
	font-size: 16px;
}

i {
	font-family: "Florania";
}

a {
	text-decoration: none;
}
a:link {
	color: #0000FF;
}
a:visited {
	color: #B900FF;
}
a:focus {
	color: #8000FF;
	text-decoration: underline;
}
a:hover {
	color: #8000FF;
	text-decoration: underline;
}
a:active {
	color: #FF0000;
}

a.sommaire {
	color: #0000FF;
}
a:focus.sommaire {
	color: #8000FF;
}
a:hover.sommaire {
	color: #8000FF;
}

ul {
	list-style: none;
	margin-left:5px;
	padding-left:0px;
}
li:before {
	content: "- ";
}